<div class="vote-page">
    <h2 class="animated slideInUp">Категории</h2>
    <form action="/users/vote" method="post">
        <div class="category animated fadeInLeft">
            <div class="title">{{ctg.actor.title}}</div>
            <p class="lead">
                <fieldset class="form-group">
                    <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="best_actor"  value="{{ctg.actor.name1}}"     >
                        <div class="nominee">{{ctg.actor.name1}}</div>
                    </label>
                    </div>
                    <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="best_actor"  value="{{ctg.actor.name2}}">
                            <div class="nominee">{{ctg.actor.name2}}</div>
                    </label>
                    </div>
                    <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="best_actor"  value="{{ctg.actor.name3}}" >
                            <div class="nominee">{{ctg.actor.name3}}</div>
                    </label>
                    </div>
                    <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="best_actor"  value="{{ctg.actor.name4}}" >
                            <div class="nominee">{{ctg.actor.name4}}</div>
                    </label>
                    </div>
                </fieldset>
            </p>
        </div>
        <div class="category animated fadeInRight">
            <div class="title">{{ctg.actress.title}}</div>
            <p class="lead">
                <fieldset class="form-group">
                    <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="best_actor"  value="{{ctg.actor.name1}}"     >
                        <div class="nominee">{{ctg.actress.name1}}</div>
                    </label>
                    </div>
                    <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="best_actor"  value="{{ctg.actor.name2}}">
                        <div class="nominee">{{ctg.actress.name2}}</div>
                    </label>
                    </div>
                    <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="best_actor"  value="{{ctg.actor.name3}}" >
                        <div class="nominee">{{ctg.actress.name3}}</div>
                    </label>
                    </div>
                    <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="best_actor"  value="{{ctg.actor.name4}}" >
                        <div class="nominee">{{ctg.actress.name4}}</div>
                    </label>
                    </div>
                </fieldset>
            </p>
        </div>
        <div class="category animated fadeInLeftBig">
            <div class="title">{{ctg.performance.title}}</div>
            <p class="lead">
                <fieldset class="form-group">
                    <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="best_actor"  value="{{ctg.actor.name1}}"     >
                        <div class="nominee">{{ctg.performance.name1}}</div>
                    </label>
                    </div>
                    <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="best_actor"  value="{{ctg.actor.name2}}">
                        <div class="nominee">{{ctg.performance.name2}}</div>
                    </label>
                    </div>
                    <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="best_actor"  value="{{ctg.actor.name3}}" >
                        <div class="nominee">{{ctg.performance.name3}}</div>
                    </label>
                    </div>
                    <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="best_actor"  value="{{ctg.actor.name4}}" >
                        <div class="nominee">{{ctg.performance.name4}}</div>
                    </label>
                    </div>
                </fieldset>
            </p>
        </div>
        <div class="category animated fadeInRight">
            <div class="title">Най-добър актьор</div>
            <p class="lead">
                <fieldset class="form-group">
                    <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="best_actor"  value="{{ctg.actor.name1}}"     >
                        <div class="nominee">Пламен</div>
                    </label>
                    </div>
                    <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="best_actor"  value="{{ctg.actor.name2}}">
                            <div class="nominee">Гопето</div>
                    </label>
                    </div>
                    <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="best_actor"  value="{{ctg.actor.name3}}" >
                            <div class="nominee">Ким</div>
                    </label>
                    </div>
                    <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="best_actor"  value="{{ctg.actor.name4}}" >
                            <div class="nominee">Марко</div>
                    </label>
                    </div>
                </fieldset>
            </p>
        </div>
        <div id="categoryAnime" class="category">
            <div class="title">Най-добър актьор</div>
            <p class="lead">
                <fieldset class="form-group">
                    <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="best_actor"  value="{{ctg.actor.name1}}"     >
                        <div class="nominee">Пламен</div>
                    </label>
                    </div>
                    <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="best_actor"  value="{{ctg.actor.name2}}">
                        <div class="nominee">Гопето</div>
                    </label>
                    </div>
                    <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="best_actor"  value="{{ctg.actor.name3}}" >
                        <div class="nominee">Ким</div>
                    </label>
                    </div>
                    <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="best_actor"  value="{{ctg.actor.name4}}" >
                        <div class="nominee">Марко</div>
                    </label>
                    </div>
                </fieldset>
            </p>
        </div>
        <div class="category animated FadeInDown">
            <div class="title">Най-добър актьор</div>
            <p class="lead">
                <fieldset class="form-group">
                    <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="best_actor"  value="{{ctg.actor.name1}}"     >
                        <div class="nominee">Пламен</div>
                    </label>
                    </div>
                    <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="best_actor"  value="{{ctg.actor.name2}}">
                        <div class="nominee">Гопето</div>
                    </label>
                    </div>
                    <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="best_actor"  value="{{ctg.actor.name3}}" >
                        <div class="nominee">Ким</div>
                    </label>
                    </div>
                    <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="best_actor"  value="{{ctg.actor.name4}}" >
                        <div class="nominee">Марко</div>
                    </label>
                    </div>
                </fieldset>
            </p>
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Гласувай</button>
    </div>
    